<div class="row">
    <div id="infoBox" class="well col-md-offset-4 col-md-4">
        <div class="row">
            <div id="health" class="col-md-4">
                <span id=heart class="glyphicon glyphicon-heart"></span>
                <span id="healthInfo">3</span>
            </div>

            <div id="time" class="col-md-4">
                <span class="glyphicon glyphicon-time"></span>
                <span id="timeInfo">01:00</span>
            </div>

            <div id="score" class="col-md-4">
                <span id=dollar class="glyphicon glyphicon-usd"></span>
                <span id="scoreInfo">1000</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="main" class="col-md-offset-4 col-md-4">

        <span id="obstacle1" class="obstacle"></span>
        <span id="obstacle2" class="obstacle"></span>
        <span id="obstacle3" class="obstacle"></span>
        <span id="obstacle4" class="obstacle"></span>
        <span id="obstacle5" class="obstacle"></span>
        <div id="player"></div>

    </div>
</div>