<div id="buttons">
    <div class="row">
        <a href="#game">
            <button class="col-md-offset-5 col-md-2 btn-success btn-small text-center">
                <span class="glyphicon glyphicon-fire"></span> New Game
            </button>
        </a>
    </div>
    <div class="row">
        <a href="#">
            <button class="col-md-offset-5 col-md-2 btn-success btn-small text-center" href="#game">
                <span class="glyphicon glyphicon-download-alt"></span> Load Game
            </button>
        </a>
    </div>
    <div class="row">
        <a href="#score">
            <button class="col-md-offset-5 col-md-2 btn-success btn-small text-center">
                <span class="glyphicon glyphicon-stats"></span> High Scores
            </button>
    </div>
    <div class="row">
        <a href="#controls">
            <button class="col-md-offset-5 col-md-2 btn-success btn-small text-center">
                <span class="glyphicon glyphicon-wrench"></span> Controls
            </button>
        </a>
    </div>
    <div class="row">
        <button class="col-md-offset-5 col-md-2 btn-success btn-small text-center">
            <span class="glyphicon glyphicon-globe"></span> Credits
        </button>
    </div>
</div>