<div id="buttons">
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div id="startButton" class="btn-success btn-small text-center">
                <span class="glyphicon glyphicon-fire"></span> New Game
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div id="loadButton" class="btn-success btn-small text-center">
                <span class="glyphicon glyphicon-download-alt"></span> Load Game
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div href="#game" class="btn-success btn-small text-center">
                <span class="glyphicon glyphicon-stats"></span> High Scores
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div href="#game" class="btn-success btn-small text-center">
                <span class="glyphicon glyphicon-wrench"></span> Controls
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div href="#game" class="btn-success btn-small text-center">
                <span class="glyphicon glyphicon-globe"></span> Credits
            </div>
        </div>
    </div>
</div>