<div id="score-panel">
    <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron alert-info">
            <h4 class="text-center">Top Scorers</h4>
        </div>

        <table class="table table-hover text-center">
            <thead>
            <tr class="info text-center">
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Score</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>