<div id="score-panel">

    <div class="jumbotron">
        <h4 class="text-center">Top Scorers</h4>
    </div>

    <table class="table text-center">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Name</th>
            <th class="text-center">Score</th>
        </tr>
        <tr0>
            <td>1</td>
            <td>Ivan</td>
            <td>3000</td>
        </tr0>
        <tr>
            <td>1</td>
            <td>Petur</td>
            <td>2000</td>
        </tr>
    </table>
</div>